!!!
%html
    %head
        %title To Do
        %link{:rel => "stylesheet", :type => "text/css", :href => "/bootstrap.css" }
        %link{:rel => "stylesheet", :type => "text/css", :href => "/bootstrap-responsive.css"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "/text2.css" }
        
    %body
        .container
            .span8.offset9
                %h2 ALL | DUE | DONE | URGENT | +
                %h1
                    USERNAME | SETTINGS | LOGOUT
            .row.myrow
                .span3
                    .well.sidebar-nav
                        
                   
                        %ul.nav.nav-list
                            %li.nav-header Task:
                            %li Start:
                            %li End:
                            %li Time:
                            %li Reminder:
                            %li Repeat:
                            %li Priority:
                            %li Notes:
                            %li Status:
                            %li Postpone/Prepone:
                            %li Tags:
                            %li 
                                %h3 +
                            %li 
                                %h3 ADD TASK
                            %li 
                                %h3 VIEW CALENDER
                                
                .span2.pull-right
                    %h4
                        check schedule
                    %ul.schedule
                        %li monday
                        %li tuesday
                        %li wednesday
                        %li thursday
                        %li friday
                        %li saturday
                        %li sunday
